<a href="https://colab.research.google.com/github/rajeevak40/Retail_Analytics/blob/main/Brand_Choice_Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Library

In [20]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.linear_model import LogisticRegression

import pickle

# Data Preparation

In [21]:
# Loading data
df_purchase=pd.read_csv('/content/drive/MyDrive/Retail/purchase data.csv', index_col=0)
brand_choice= df_purchase[df_purchase['Incidence']==1]
pd.options.display.max_rows=100

In [22]:
brand_choice.head()

           Day  Incidence  Brand  ...  Income  Occupation  Settlement size
ID                                ...
200000001   28          1      2  ...  110866           1                0
200000001   58          1      5  ...  110866           1                0
200000001  110          1      1  ...  110866           1                0
200000001  142          1      4  ...  110866           1                0
200000001  183          1      2  ...  110866           1                0

[5 rows x 23 columns]

In [23]:
Y=brand_choice['Brand']

In [24]:
brand_choice.columns.values

array(['Day', 'Incidence', 'Brand', 'Quantity', 'Last_Inc_Brand',
       'Last_Inc_Quantity', 'Price_1', 'Price_2', 'Price_3', 'Price_4',
       'Price_5', 'Promotion_1', 'Promotion_2', 'Promotion_3',
       'Promotion_4', 'Promotion_5', 'Sex', 'Marital status', 'Age',
       'Education', 'Income', 'Occupation', 'Settlement size'],
      dtype=object)

In [25]:
features=['Price_1', 'Price_2', 'Price_3', 'Price_4','Price_5']
X=brand_choice[features]

## Model creation for price abd brand

In [26]:
# Model on brand choice
model_brand_choice=LogisticRegression(solver='sag', multi_class='multinomial')
model_brand_choice.fit(X,Y)

LogisticRegression(multi_class='multinomial', solver='sag')

In [27]:
#Model Interpretation
# Transposing keep features as colums and price as rows
brand_choice_coef =pd.DataFrame(np.transpose(model_brand_choice.coef_)).round(2)
brand_choice_coef.columns=['Brand_1', 'Brand_2', 'Brand_3','Brand_4', 'Brand_5']
brand_choice_coef.index=['Price_1', 'Price_2','Price_3','Price_4','Price_5']
brand_choice_coef

         Brand_1  Brand_2  Brand_3  Brand_4  Brand_5
Price_1    -3.92     1.27     1.62     0.57     0.44
Price_2     0.66    -1.88     0.56     0.40     0.26
Price_3     2.42    -0.21     0.50    -1.40    -1.31
Price_4     0.70    -0.21     1.04    -1.25    -0.29
Price_5    -0.20     0.59     0.45     0.25    -1.09

## Ownprice Brand Choice Elasticity

Working on Brand 5 as example.

In [28]:
# Creating dataframe
price_range=np.arange(0.5,3.5,0.01)
df_own_brand_5 = pd.DataFrame(index=np.arange(price_range.size))

In [31]:
df_own_brand_5['Price_1']=brand_choice['Price_1'].mean()
df_own_brand_5['Price_2']=brand_choice['Price_2'].mean()
df_own_brand_5['Price_3']=brand_choice['Price_3'].mean()
df_own_brand_5['Price_4']=brand_choice['Price_4'].mean()
df_own_brand_5['Price_5']=price_range
df_own_brand_5.head()

    Price_1   Price_2   Price_3   Price_4  Price_5
0  1.384559  1.764717  2.006694  2.159658     0.50
1  1.384559  1.764717  2.006694  2.159658     0.51
2  1.384559  1.764717  2.006694  2.159658     0.52
3  1.384559  1.764717  2.006694  2.159658     0.53
4  1.384559  1.764717  2.006694  2.159658     0.54

In [33]:
#Predict probability of Brabd 5
predict_brand_5=model_brand_choice.predict_proba(df_own_brand_5)
pr_own_brand_5= predict_brand_5[:][:,4]

array([0.90999098, 0.90894789, 0.90789311, 0.90682651, 0.90574799,
       0.90465745, 0.90355476, 0.90243981, 0.9013125 , 0.90017272,
       0.89902033, 0.89785525, 0.89667734, 0.89548651, 0.89428263,
       0.89306558, 0.89183527, 0.89059157, 0.88933436, 0.88806355,
       0.886779  , 0.88548061, 0.88416825, 0.88284183, 0.88150122,
       0.88014632, 0.878777  , 0.87739315, 0.87599467, 0.87458143,
       0.87315333, 0.87171025, 0.87025208, 0.86877872, 0.86729004,
       0.86578595, 0.86426632, 0.86273106, 0.86118005, 0.85961319,
       0.85803037, 0.85643148, 0.85481642, 0.85318509, 0.85153737,
       0.84987318, 0.8481924 , 0.84649495, 0.84478071, 0.8430496 ,
       0.84130151, 0.83953635, 0.83775404, 0.83595447, 0.83413755,
       0.83230321, 0.83045134, 0.82858187, 0.82669471, 0.82478978,
       0.822867  , 0.82092629, 0.81896758, 0.81699079, 0.81499585,
       0.81298269, 0.81095124, 0.80890145, 0.80683324, 0.80474656,
       0.80264135, 0.80051755, 0.79837512, 0.79621401, 0.79403416,
       0.79183554, 0.7896181 , 0.78738182, 0.78512664, 0.78285255,
       0.78055952, 0.77824751, 0.77591652, 0.77356652, 0.7711975 ,
       0.76880945, 0.76640236, 0.76397623, 0.76153107, 0.75906687,
       0.75658365, 0.75408141, 0.75156019, 0.74901998, 0.74646084,
       0.74388277, 0.74128582, 0.73867003, 0.73603544, 0.73338209,
       0.73071004, 0.72801935, 0.72531007, 0.72258228, 0.71983604,
       0.71707143, 0.71428853, 0.71148743, 0.70866822, 0.70583098,
       0.70297584, 0.70010288, 0.69721222, 0.69430398, 0.69137827,
       0.68843523, 0.68547499, 0.68249768, 0.67950344, 0.67649243,
       0.67346479, 0.67042069, 0.66736028, 0.66428374, 0.66119123,
       0.65808295, 0.65495907, 0.65181978, 0.64866528, 0.64549578,
       0.64231146, 0.63911255, 0.63589927, 0.63267183, 0.62943046,
       0.62617539, 0.62290686, 0.61962511, 0.61633038, 0.61302294,
       0.60970303, 0.60637091, 0.60302686, 0.59967115, 0.59630404,
       0.59292582, 0.58953677, 0.58613719, 0.58272736, 0.57930758,
       0.57587816, 0.5724394 , 0.5689916 , 0.56553509, 0.56207018,
       0.55859719, 0.55511644, 0.55162826, 0.54813299, 0.54463096,
       0.5411225 , 0.53760795, 0.53408766, 0.53056198, 0.52703125,
       0.52349582, 0.51995604, 0.51641228, 0.51286488, 0.50931422,
       0.50576063, 0.5022045 , 0.49864619, 0.49508605, 0.49152446,
       0.48796177, 0.48439837, 0.48083462, 0.47727089, 0.47370754,
       0.47014496, 0.4665835 , 0.46302354, 0.45946544, 0.45590959,
       0.45235633, 0.44880606, 0.44525912, 0.44171589, 0.43817672,
       0.434642  , 0.43111207, 0.4275873 , 0.42406805, 0.42055467,
       0.41704752, 0.41354695, 0.41005331, 0.40656695, 0.40308821,
       0.39961744, 0.39615497, 0.39270115, 0.38925631, 0.38582077,
       0.38239486, 0.37897891, 0.37557323, 0.37217814, 0.36879396,
       0.36542099, 0.36205953, 0.35870988, 0.35537235, 0.35204721,
       0.34873476, 0.34543528, 0.34214904, 0.33887632, 0.33561739,
       0.3323725 , 0.32914192, 0.3259259 , 0.32272468, 0.31953852,
       0.31636764, 0.31321227, 0.31007265, 0.306949  , 0.30384153,
       0.30075045, 0.29767597, 0.29461828, 0.29157759, 0.28855407,
       0.28554792, 0.28255931, 0.2795884 , 0.27663537, 0.27370038,
       0.27078359, 0.26788513, 0.26500516, 0.26214381, 0.25930121,
       0.2564775 , 0.25367279, 0.25088719, 0.24812083, 0.2453738 ,
       0.2426462 , 0.23993813, 0.23724967, 0.23458091, 0.23193193,
       0.22930279, 0.22669357, 0.22410433, 0.22153512, 0.21898599,
       0.216457  , 0.21394818, 0.21145957, 0.20899121, 0.20654312,
       0.20411531, 0.20170782, 0.19932065, 0.19695381, 0.19460731,
       0.19228115, 0.18997531, 0.1876898 , 0.1854246 , 0.18317969,
       0.18095505, 0.17875066, 0.17656648, 0.17440248, 0.17225864,
       0.17013489, 0.16803122, 0.16594755, 0.16388385, 0.16184006,
       0.15981612, 0.15781198, 0.15582756, 0.1538628 , 0.15191763,
       0.14999199, 0.14808578, 0.14619894, 0.14433138, 0.14248302,
       0.14065378, 0.13884356, 0.13705227, 0.13527983, 0.13352614])