<a href="https://colab.research.google.com/github/rajeevak40/Retail_Analytics/blob/main/Purchase_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Libraries

In [8]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

import pickle

# Data Import

In [3]:
# Loading data
df_purchase=pd.read_csv('/content/purchase data.csv', index_col=0)

# Data Exploration

In [5]:
# Data Inspection
df_purchase.head()

           Day  Incidence  Brand  ...  Income  Occupation  Settlement size
ID                                ...
200000001    1          0      0  ...  110866           1                0
200000001   11          0      0  ...  110866           1                0
200000001   12          0      0  ...  110866           1                0
200000001   16          0      0  ...  110866           1                0
200000001   18          0      0  ...  110866           1                0

[5 rows x 23 columns]

In [7]:
# Check for missing Vlaue
df_purchase.isnull().sum()

Day                  0
Incidence            0
Brand                0
Quantity             0
Last_Inc_Brand       0
Last_Inc_Quantity    0
Price_1              0
Price_2              0
Price_3              0
Price_4              0
Price_5              0
Promotion_1          0
Promotion_2          0
Promotion_3          0
Promotion_4          0
Promotion_5          0
Sex                  0
Marital status       0
Age                  0
Education            0
Income               0
Occupation           0
Settlement size      0
dtype: int64

# Data Segmentation

## Import modles from Segmentation

In [9]:
scaler= pickle.load(open('/content/scaler.pickle','rb'))

pca= pickle.load(open('/content/pca.pickle','rb'))
kmean_pca= pickle.load(open('/content/kmean_pca.pickle','rb'))

In [26]:
df_purchase.columns.values

array(['Day', 'Incidence', 'Brand', 'Quantity', 'Last_Inc_Brand',
       'Last_Inc_Quantity', 'Price_1', 'Price_2', 'Price_3', 'Price_4',
       'Price_5', 'Promotion_1', 'Promotion_2', 'Promotion_3',
       'Promotion_4', 'Promotion_5', 'Sex', 'Marital status', 'Age',
       'Education', 'Income', 'Occupation', 'Settlement size'],
      dtype=object)

## Standardization of data

In [30]:
df_features= df_purchase[['Sex', 'Marital status', 'Age','Education', 'Income', 'Occupation', 'Settlement size']]
df_features.head()

           Sex  Marital status  Age  ...  Income  Occupation  Settlement size
ID                                   ...
200000001    0               0   47  ...  110866           1                0
200000001    0               0   47  ...  110866           1                0
200000001    0               0   47  ...  110866           1                0
200000001    0               0   47  ...  110866           1                0
200000001    0               0   47  ...  110866           1                0

[5 rows x 7 columns]

In [32]:
df_purchase_segm_std=scaler.transform(df_features)

## PCA

In [33]:
df_purchase_segm_pca=pca.transform(df_purchase_segm_std)

## KMeans PCA

In [38]:
purchase_segm_pca_kmean = kmean_pca.predict(df_purchase_segm_pca)
purchase_segm_pca_kmean

array([2, 2, 2, ..., 2, 2, 2], dtype=int32)

In [39]:
df_purchase_predictors= df_purchase.copy()
df_purchase_predictors['Segment']= purchase_segm_pca_kmean

In [40]:
df_purchase_predictors.head()

           Day  Incidence  Brand  ...  Occupation  Settlement size  Segment
ID                                ...
200000001    1          0      0  ...           1                0        2
200000001   11          0      0  ...           1                0        2
200000001   12          0      0  ...           1                0        2
200000001   16          0      0  ...           1                0        2
200000001   18          0      0  ...           1                0        2

[5 rows x 24 columns]